# **FORMULA 1 PITSTOP PERFORMANCE**

# IMPORT LIBRARY

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive
Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# DATA FRAME

In [ ]:
path = "/content/drive/MyDrive/GOOGLE COLLAB AVD/DATASHEET/pitstops.csv"

df = pd.read_csv(path)

df

,RaceId,DriverId,Stops,Year,Race,No,DriverName,Code,Car,Lap,TimeOfDay,Time,Total
0,258,100,1,1994,pacific,20,Erik Comas,COM,Larrousse Ford,1,14:01:34,49.111,49.111
1,258,79,1,1994,pacific,3,Ukyo Katayama,KAT,Tyrrell Yamaha,17,14:20:46,28.482,28.482
2,258,57,1,1994,pacific,7,Mika Hakkinen,HAK,McLaren Peugeot,18,14:22:35,43.745,43.745
3,258,71,1,1994,pacific,0,Damon Hill,HIL,Williams Renault,18,14:23:00,21.992,21.992
4,258,105,1,1994,pacific,24,Michele Alboreto,ALB,Minardi Ford,19,14:24:39,27.693,27.693
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9916,355,18,1,2010,abu-dhabi,1,Jenson Button,BUT,McLaren Mercedes,39,18:15:38,20.511,20.511
9917,355,10,1,2010,abu-dhabi,24,Timo Glock,GLO,Virgin Cosworth,40,18:19:37,20.93,20.93
9918,355,5,1,2010,abu-dhabi,19,Heikki Kovalainen,KOV,Lotus Cosworth,41,18:21:05,21.537,21.537
9919,355,9,1,2010,abu-dhabi,11,Robert Kubica,KUB,Renault,46,18:27:56,20.188,20.188
9920,355,16,1,2010,abu-dhabi,14,Adrian Sutil,SUT,Force India Mercedes,47,18:29:56,20.276,20.276

In [ ]:
df.head(20)

,RaceId,DriverId,Stops,Year,Race,No,DriverName,Code,Car,Lap,TimeOfDay,Time,Total
0,258,100,1,1994,pacific,20,Erik Comas,COM,Larrousse Ford,1,14:01:34,49.111,49.111
1,258,79,1,1994,pacific,3,Ukyo Katayama,KAT,Tyrrell Yamaha,17,14:20:46,28.482,28.482
2,258,57,1,1994,pacific,7,Mika Hakkinen,HAK,McLaren Peugeot,18,14:22:35,43.745,43.745
3,258,71,1,1994,pacific,0,Damon Hill,HIL,Williams Renault,18,14:23:00,21.992,21.992
4,258,105,1,1994,pacific,24,Michele Alboreto,ALB,Minardi Ford,19,14:24:39,27.693,27.693
5,258,91,1,1994,pacific,29,Karl Wendlinger,WEN,Sauber Mercedes,19,14:24:41,24.806,24.806
6,258,44,1,1994,pacific,26,Olivier Panis,PAN,Ligier Renault,18,14:25:13,53.89,53.890
7,258,94,1,1994,pacific,23,Pierluigi Martini,MAR,Minardi Ford,22,14:28:34,34.437,34.437
8,258,30,1,1994,pacific,5,Michael Schumacher,MSC,Benetton Ford,23,14:28:40,23.342,23.342
9,258,104,1,1994,pacific,9,Christian Fittipaldi,FIT,Footwork Ford,23,14:29:00,56.753,56.753
10,258,50,1,1994,pacific,6,Jos Verstappen,VER,Benetton Ford,24,14:29:34,24.689,24.689
11,258,49,1,1994,pacific,30,Heinz-Harald Frentzen,FRE,Sauber Mercedes,24,14:30:50,26.081,26.081
12,258,103,1,1994,pacific,25,Eric Bernard,BER,Ligier Renault,24,14:31:46,24.9,24.900
13,258,88,1,1994,pacific,15,Aguri Suzuki,SUZ,Jordan Hart,26,14:33:57,27.417,27.417
14,258,77,1,1994,pacific,28,Gerhard Berger,BER,Ferrari,27,14:34:28,24.334,24.334
15,258,84,1,1994,pacific,8,Martin Brundle,BRU,McLaren Peugeot,27,14:34:33,30.57,30.570
16,258,81,1,1994,pacific,10,Gianni Morbidelli,MOR,Footwork Ford,28,14:34:50,27.201,27.201
17,258,107,1,1994,pacific,32,Roland Ratzenberger,RAT,Simtek Ford,27,14:35:13,29.481,29.481
18,258,65,1,1994,pacific,12,Johnny Herbert,HER,Lotus Mugen Honda,27,14:35:44,25.154,25.154
19,258,22,1,1994,pacific,14,Rubens Barrichello,BAR,Jordan Hart,31,14:39:42,26.15,26.150

In [ ]:
df.tail(20)

,RaceId,DriverId,Stops,Year,Race,No,DriverName,Code,Car,Lap,TimeOfDay,Time,Total
9901,355,153,1,2010,abu-dhabi,17,Jaime Alguersuari,ALG,STR Ferrari,1,17:05:45,22.163,22.163
9902,355,811,1,2010,abu-dhabi,21,Bruno Senna,SEN,HRT Cosworth,1,17:05:51,23.749,23.749
9903,355,810,1,2010,abu-dhabi,25,Lucas di Grassi,DIG,Virgin Cosworth,1,17:05:52,21.705,21.705
9904,355,32,1,2010,abu-dhabi,20,Christian Klien,KLI,HRT Cosworth,1,17:05:57,31.988,31.988
9905,355,17,1,2010,abu-dhabi,6,Mark Webber,WEB,RBR Renault,11,17:26:47,20.168,20.168
9906,355,13,1,2010,abu-dhabi,7,Felipe Massa,MAS,Ferrari,13,17:30:21,21.523,21.523
9907,355,4,1,2010,abu-dhabi,8,Fernando Alonso,ALO,Ferrari,15,17:33:50,20.681,20.681
9908,355,2,1,2010,abu-dhabi,22,Nick Heidfeld,HEI,Sauber Ferrari,15,17:34:03,21.202,21.202
9909,355,22,1,2010,abu-dhabi,9,Rubens Barrichello,BAR,Williams Cosworth,18,17:39:18,20.684,20.684
9910,355,1,1,2010,abu-dhabi,2,Lewis Hamilton,HAM,McLaren Mercedes,23,17:47:48,20.792,20.792
9911,355,20,1,2010,abu-dhabi,5,Sebastian Vettel,VET,RBR Renault,24,17:49:31,20.061,20.061
9912,355,15,1,2010,abu-dhabi,18,Jarno Trulli,TRU,Lotus Cosworth,28,17:58:08,37.147,37.147
9913,355,155,1,2010,abu-dhabi,23,Kamui Kobayashi,KOB,Sauber Ferrari,33,18:05:43,20.208,20.208
9914,355,807,1,2010,abu-dhabi,10,Nico Hulkenberg,HUL,Williams Cosworth,36,18:11:03,20.749,20.749
9915,355,67,1,2010,abu-dhabi,16,Sebastien Buemi,BUE,STR Ferrari,37,18:12:45,20.984,20.984
9916,355,18,1,2010,abu-dhabi,1,Jenson Button,BUT,McLaren Mercedes,39,18:15:38,20.511,20.511
9917,355,10,1,2010,abu-dhabi,24,Timo Glock,GLO,Virgin Cosworth,40,18:19:37,20.93,20.93
9918,355,5,1,2010,abu-dhabi,19,Heikki Kovalainen,KOV,Lotus Cosworth,41,18:21:05,21.537,21.537
9919,355,9,1,2010,abu-dhabi,11,Robert Kubica,KUB,Renault,46,18:27:56,20.188,20.188
9920,355,16,1,2010,abu-dhabi,14,Adrian Sutil,SUT,Force India Mercedes,47,18:29:56,20.276,20.276

# BUSINESS UNDERSTANDING

##Study Case

Dalam balapan Formula One, pit stop merupakan salah satu strategi penting yang dapat menentukan kemenangan tim. Pit stop yang terlalu lama dapat menyebabkan pembalap kehilangan posisi, sedangkan pit stop yang cepat dan tepat waktu dapat meningkatkan peluang menang.

##Business Objective

Business objective-nya adalah untuk membantu *racing team* meningkatkan performa dan efisiensi strategi pit stop dengan menganalisis *history* pit stop agar dapat mencapai waktu pit stop secepat mungkin dan mendapatkan *placement* terbaik mereka setelah balapan berakhir.

Data ini berisi data pit stop dari balapan Formula One. Data tersebut mencatat informasi tentang pembalap, tim, lap saat pit stop dilakukan, jumlah pit stop, serta durasi waktu pit stop selama balapan.

# Assess Situation

Tim sering kesulitan menentukan strategi pit stop terbaik. Banyak hal yang harus dipertimbangkan, seperti berapa kali pit stop, kapan waktu yang tepat untuk pit stop, dan berapa lama durasinya. Karena itu, diperlukan analisis data pit stop sebelumnya untuk melihat pola dan menentukan strategi yang paling efisien.

##Analytic Goals dan Project Plan

Analytic Goals



1. Menganalisis data pit stop pada balapan Formula One untuk memahami strategi pit stop yang paling efisien.
2. Mengetahui tim dan pembalap dengan durasi pit stop paling cepat.
3. Menghitung rata-rata waktu pit stop setiap tim dan pembalap.
4. Menganalisis hubungan antara jumlah pit stop dengan total waktu pit stop.
5. Mengetahui lap yang paling sering digunakan untuk pit stop.
6. Menemukan pola strategi pit stop yang dapat meningkatkan efisiensi waktu balapan.
7. Memberikan insight dan rekomendasi strategi pit stop yang optimal berdasarkan data.

Project Plans

1. Memahami dataset dengan membaca dan mengecek isi data seperti pembalap, tim, lap pit stop, dan durasi.
2. Melakukan pembersihan data
3. Menyiapkan data agar siap dianalisis.
4. Melakukan eksplorasi data dengan menghitung rata-rata durasi pit stop tiap tim dan pembalap.
5. Menganalisis distribusi jumlah pit stop dan pola pit stop berdasarkan lap.
6. Membuat visualisasi data agar lebih mudah dipahami.
7. Membandingkan performa pit stop antar tim dan pembalap.
8. Menentukan strategi pit stop yang paling efisien berdasarkan hasil analisis.
9. Menarik kesimpulan dan memberikan insight dari hasil analisis data.